body {
    background-image: url(https://1-background.com/images/stars-1/beautiful-blue-stars-fill.jpg);
    color: white;
    text-align: center;
}

a:visited {
    color: fuchsia;
}

.back {
    position: fixed;
    top: 10px;
    left: 10px;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}
