body {
    background-image: url(https://1-background.com/images/stars-1/beautiful-blue-stars-fill.jpg);
    color: white;
    text-align: center;
}

a:visited {
    color: fuchsia;
}

.back {
    position: fixed;
    top: 10px;
    left: 10px;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
